/* Font import */
.century-regular {
  font-family: "Century", "Century Gothic", "Century Schoolbook", serif;
  font-weight: 400;
  font-style: normal;
}

.century-bold {
  font-family: "Century", "Century Gothic", "Century Schoolbook", serif;
  font-weight: 700;
  font-style: normal;
}

.century-light {
  font-family: "Century", "Century Gothic", "Century Schoolbook", serif;
  font-weight: 300;
  font-style: normal;
}

/* Header styles */
/* Group better; differentiate application */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

body {
    font-family: "Century", "Century Gothic", "Century Schoolbook", serif;
    font-size: 24px;
    font-weight: 300;
}

a:link {
    color: #000000;
    text-decoration: none;
    /* if put on hover, snaps OFF */
    transition: color 0.4s ease, transform 0.4s ease;
    /* display: inline-block; */
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #4682B4;
    /* text-decoration: underline; */
    transform: translateY(-3px);
}

a:active {
    color: #000000;
    text-decoration: none;
}